<div class="wrap">
  <div id="icon-generic" class="icon32"></div>
  <h2>{{ wp.__('Twig Settings') }}</h2>
  <form method="post" action="{{ action }}">
  {% if message is defined %}
    <div class="message updated below-h2">
      <p>{{ message }}</p>
    </div>
  {% endif %}
  {% if error is defined %}
    <div class="message error below-h2">
      <p>{{ error }}</p>
    </div>
  {% endif %}
    <h3>{{ wp.__('Template Cache') }}</h3>
    <p>
      {{ wp.__('This will cause all templates to be recompiled down to plain optimized PHP code.') }}
    </p>
    {{ nonce|raw }}
    <p class="submit">
      <input type="submit" name="submit" id="submit" class="button button-primary" value="{{ wp.__('Clear Template Cache') }}">
    </p>
  </form>
</div>